/*
 * Copyright (c) 2026 Oleksii Mamontov <mamontov1@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/l4/stm32l431Xc.dtsi>
#include <st/l4/stm32l431c(b-c)ux-pinctrl.dtsi>

/ {
	model = "CAN TFT Panel L431 Board";
	compatible = "st,stm32l431-can-tft";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,canbus = &can1;
		zephyr,display = &tft0;
	};

	/* Програмна шина MIPI DBI (8080 Parallel) */
	mipi_dbi {
		compatible = "zephyr,mipi-dbi-bitbang";
		#address-cells = <1>;
		#size-cells = <0>; 

		/* Керуючі сигнали шини */
		dc-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;   /* RS / Command-Data */
		wr-gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;   /* Write strobe */
		rd-gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;   /* Read strobe */
		cs-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;    /* Chip Select */
		
		/* ОБОВ'ЯЗКОВО для Zephyr 4.x: reset має бути у вузлі mipi_dbi */
		reset-gpios = <&gpiob 7 GPIO_ACTIVE_LOW>; 
		
		/* 8-бітна шина даних PA0-PA7[cite: 1] */
		data-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>,
			     <&gpioa 1 GPIO_ACTIVE_HIGH>,
			     <&gpioa 2 GPIO_ACTIVE_HIGH>,
			     <&gpioa 3 GPIO_ACTIVE_HIGH>,
			     <&gpioa 4 GPIO_ACTIVE_HIGH>,
			     <&gpioa 5 GPIO_ACTIVE_HIGH>,
			     <&gpioa 6 GPIO_ACTIVE_HIGH>,
			     <&gpioa 7 GPIO_ACTIVE_HIGH>;

		tft0: ili9488@0 {
			compatible = "ilitek,ili9488";
			reg = <0>;
			width = <320>;
			height = <480>;
			mipi-max-frequency = <25000000>;
			/* Режим для паралельної шини в bitbang */
			mipi-mode = "MIPI_DBI_MODE_8080_BUS_8_BIT";
			pixel-format = <1>; /* RGB565 */

		};
	};

	/* Кнопки керування[cite: 1] */
	buttons {
		compatible = "gpio-keys";
		up_button: button_0 {
			gpios = <&gpiob 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "UP Button";
		};
		ok_button: button_1 {
			gpios = <&gpiob 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "OK Button";
		};
		down_button: button_2 {
			gpios = <&gpiob 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "DOWN Button";
		};
	};

	aliases {
		sw0 = &up_button;
		sw1 = &ok_button;
		sw2 = &down_button;
	};
};

/* Налаштування системи тактування (80 MHz)[cite: 1] */
&clk_lsi { status = "okay"; };
&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <1>;
	mul-n = <20>;
	div-p = <7>;
	div-q = <2>;
	div-r = <4>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(80)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

/* Конфігурація CAN-шини[cite: 1] */
&can1 {
	pinctrl-0 = <&can1_rx_pb8 &can1_tx_pb9>;
	pinctrl-names = "default";
	status = "okay";
};

/* Флеш-пам'ять для зберігання налаштувань[cite: 1] */
&flash0 {
	partitions {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		storage_partition: partition@3c000 {
			compatible = "zephyr,mapped-partition";
			label = "storage";
			reg = <0x0003c000 DT_SIZE_K(16)>;
		};
	};
};

/* Відключення непотрібної периферії[cite: 1] */
&usart1 { status = "disabled"; };
&usart2 { status = "disabled"; };
&spi1 { status = "disabled"; };
&i2c1 { status = "disabled"; };
&timers2 { status = "disabled"; };
